/*----------- Importation des police San Francisco Pro --------- */
@font-face {
	font-family: 'SF Pro';
	src: url('../../assets/font/SF-Pro.ttf') format('truetype');
}
@font-face {
	font-family: 'Helvetica';
	src: url('../../assets/font/Helvetica.ttf') format('truetype');
}
@font-face {
	font-family: 'Helvetica Rouded';
	src: url('../../assets/font/helvetica-rounded-bold-5871d05ead8de.otf') format('truetype');
}

/*----------- Enlever le style par defaut des elements --------- */
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvetica', sans-serif;

	--main: #405bab;
	--second: #ff914d;
	--second-dark: #ea7329;
	--main-alpha: #405bab27;
	--second-alpha: #ff914d27;	
	--main-light: #c5cde6;
	--sencond-light: #ffdec9;
	/* --light-blue: #d6dcff; */

	--off-white: #f5f3f1;
	--soft-white: #f1f1f1;
	--pur-white: #fff;
	--black: #000000;
	--grey: #BBBBBB;

	--roundPx: 10px;
	--roundPxBig: 20px;
	--humongusText: 25px;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
	outline: none;
	visibility: visible;
}

h1 {
	font-family: 'SF Pro';
	font-size: 50px;
}

a {
	text-decoration: none;
}

/*----------- Nav bar --------- */

nav {
	width: auto; /* longeur automatique */
	height: 100px; /* nav de 80px de hauteur */
	background: var(--main); /* fond de la couleur de la variable orange */
	position: sticky; /* reste collé en haut de la page */
	top: 0; /* reste collé en haut de la page */
	transition: all 0.3s ease-out;
	z-index: 1; /* passe au dessus des autres elements */

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo-container {
	display: flex;
	text-decoration: none;
}

#Revalonix {
	display: flex;
	font-size: 50px;
	align-items: center;
	font-family: 'Helvetica Rouded', sans-serif;
	color: var(--off-white);
	padding: 20px;
}

.list {
	width: auto;
	height: 100%;
	list-style-type: none;
	display: flex;
	justify-content: flex-end; /* Use flex-end to align items to the right */
	align-items: center;
	/* flex-grow: 1; */
	margin-right: 50px;
}

.list .list-item {
	margin: 0 20px;
	font-size: 20px;
	transition: 0.4s ease-out; /* la transision se fait sur 0.4s pour pouvoir la voir */
	display: inline-flex;
}

.list .list-item:hover {
	transition: 0.4s ease-out; /* la transision se fait sur 0.4s pour pouvoir la voir */
}

.list .list-link {
	color: var(--off-white); /* text en couleur de la variable blanc */
	text-decoration: none; /* enleve le style par defaut des liens */
	padding: 1px 0; /* aére le text pour le decalé d'un pixel la ligne en dessous*/
	text-transform: uppercase; /* met tout le texte en majuscule */
	position: relative; /* Required for positioning the ::after pseudo-element */
	/* align-items: center; */
}

.list #svg {
	fill: var(--main);
	color: var(--off-white);
	margin-left: 10px;
}

.list .list-link::after {
	/* sytle aprés le lien */
	content: ''; /* on veut ajouter une ligne pas du contenu alors on laisse vide*/
	position: absolute;
	bottom: 0;
	left: 50%; /* animation commence au millieu */
	width: 0%; /* avec une taille de 0 */
	height: 2px; /* ligne de 2px d'epaiseur */
	background: var(--off-white);
	transition: 0.4s ease-out; /* la transision se fait sur 0.4s pour pouvoir la voir */
}

.list .list-link:hover::after {
	left: 0;
	width: 100%; /* Expand the line to 100% on hover */
}

/*----------- POPUP --------- */

.popup-wrapper {
	z-index: 10;
	backdrop-filter: blur(5px); /* Adjust the blur value as needed */
	background-color: rgba(0, 0, 0, 0.05); /* Adjust the background color and opacity as needed */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.popup {
	text-align: center;
	width: 700px;
	height: 600px;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	background: var(--off-white);
	border-radius: var(--roundPx);
	box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.25), 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
	flex-shrink: 0;
}

/* .popup-content {
	border-radius: 25px;
	display: flex;
	margin-top: 50px;
	width: 100%;
	padding: 10px;
	flex-direction: row;
	flex-wrap: wrap;
} */

.flex-item {
	color: var(--black);
	font-size: 24px;
	flex: 2 1 auto;
	margin: 10px;
	padding: 10px;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.flex-item .label {
	display: flex;
	flex-direction: column;
	margin: 12px auto;
	width: 90%;
	align-items: flex-start;
}

.flex-item .label .span {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	margin: 8px 0;
	color: var(--black);
}

.label .input,
select {
	-webkit-appearance: none;
	appearance: none;
	border: 0;
	outline: 0;
	padding: 14px;
	font-size: 14px;
	border-radius: 30px;
	background-color: var(--pur-white);
	box-sizing: border-box;
	width: 90%;
}

.submit {
	margin-top: 20px;
	padding: 10px;
	border-radius: var(--roundPx);
	background-color: var(--second);
	color: var(--off-white);
}

.popup-close {
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 20px;
	cursor: pointer;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--black);
	opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: var(--black);
}
::-ms-input-placeholder {
	/* Microsoft Edge */
	color: var(--black);
}

#loginT2 {
	font-size: 20px;
	color: var(--second);
	margin-top: 15px;
}

#loginT2:hover {
	cursor: pointer;
}
