body {
	background-color: var(--soft-white);
}

.main-container {
	/* width: 90%; */
	/* max-width: 1200px; Optional: set a maximum width for the main container */
	margin: 0 auto; /* Center the main container horizontally */
	min-height: calc(100vh - 100px);

	/* display: flex; */
	justify-content: center;
	padding: 20px 10vw;
}

.postADiv {
	background-color: var(--main-light);
	position: relative;
	padding: 6px;
	box-sizing: border-box;
}



/* Stolen code from https://stackoverflow.com/questions/49796934/add-a-text-suffix-to-input-type-number */

/* prepare wrapper element */
div {
	display: inline-block;
	position: relative;
  }
  
  /* position the unit to the right of the wrapper */
  div::after {
	position: absolute;
	top: 2px;
	right: .5em;
	transition: all .05s ease-in-out;
  }
  
  /* move unit more to the left on hover or focus within
	 for arrow buttons will appear to the right of number inputs */
  div:hover::after,
  div:focus-within::after {
	right: 1.5em;
  }
  
  /* handle Firefox (arrows always shown) */
  @supports (-moz-appearance:none) {
	div::after {
	  right: 1.5em;
	}
  }
  
  /* set the unit abbreviation for each unit class */
  .euroSuffix::after {
	content: '€';
  }