#search-filter {
    width: 100%;
}

.main-container {
	/* width: 90%; */
	/* max-width: 1200px; Optional: set a maximum width for the main container */
	margin: 0 auto; /* Center the main container horizontally */
	height: calc(100vh - 100px);
}